$sidebar_background: #30373B;
$night-shade: #30373B;
$dashboard_bg: #F5F8F9;
$black-haze: #F5F8F9;
$body-size: 62.5%;
$is-size-1: 7.2rem;
$is-size-2: 6.1rem;
$is-size-3: 4.8rem;
$is-size-4: 3.6rem;
$is-size-5: 2.6rem;
$is-size-6: 2rem;
$is-size-7: 1.8rem;
$body-line-height: 1.6;


